.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 150px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  z-index: 100;
  border-radius: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: aquamarine;
  display: flex;
  height: 100px;
}

.item {
  flex: 1;
  display: block;
  width: 100%;
  height: auto;
  padding: 1em 0;
}
.item :hover {
  background-color: yellow;
}

.route {
  width: 100%;
  height: 100%;
  color: white;
  z-index: 200;
}

.bruce {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
  animation: App-logo-spin infinite 5s ease-in;
}

.torr {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
  animation: App-logo-spin infinite 5s ease-in;
}
.kim {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
  animation: App-logo-spin infinite 5s ease-in;
}
